<form action="/" method="POST">
    <div class="form-group">
        <label for="newsSearch"><h1>News Search</h1></label>
        <input type="text" name="q" id="q" class="form-control mt-5" placeholder="Search the website for news" value="{{searchTerms.q}}">
    </div>

    <div class="form-check form-check-inline">
        {{#each countries}}
                <input class="form-check-input" type="radio" name="country" id="{{this.country}}" value="{{this.country}}" {{this.checked}}>
                <label class="form-check-label" for="{{this.country}}"><img src="/images/{{this.country}}.png" alt=""></label>
        {{/each}}
    </div>    

    <div class="form-group">
        <select name="category" id="category" class="form-control">
         {{#each categories}}
                <option value="{{this.category}}" {{this.selected}}>{{this.category}}</option>
        {{/each}}   
        </select>    
    </div>

    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary mb-5">Submit</button>  
    </div>
</form>

<div class="articles">

    {{#each articles}}
        <div class="card" style="width: 100%;">
            <img class="card-img-top" src="{{this.urlToImage}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">{{this.description}}</p>
                <p class="card-text">{{this.publishedAt}}</p>
                <a href="{{this.url}}" class="btn btn-primary">Read more...</a>
            </div>
        </div>
    {{/each}}

</div>
